langchain
langchain-ollama
langchain_community
langchain-text-splitters
python-docx
supabase
huggingface_hub
openai
pymupdf==1.25.0
google-generativeai
ollama
streamlit
transformers
groq
pymongo
together

protobuf
huggingface-hub
ebooklib
beautifulsoup4
exceptiongroup
tqdm
postgrest
pandas
nltk
narwhals